/*滚动条样式*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
  border-radius: 5px;
  border-style: dashed;
  background-color: #d8d8d8;
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8d8d8
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pointer {
  cursor: pointer;
}