// 此处变量名不可与element-ui plus中的变量同名，定义前可先查看element中是否有同名

/*全局变量*/
$font-size: 16px;
$primary-color1: #8266BE;
$primary-color2: #52547A;
$primary-color3: #484A7D;
$primary-color4: #8266BE;
$primary-color5: #866CBF;
$primary-color6: #8C7FA8;
$my-border-color: #dcdfe6;
$my-border-focus-color: #866CBF;
$my-menu-sub-active-bg-color: rgba(140, 127, 168, 0.2);
