@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #866CBF,//颜色可以自定义的
    ),
    'success': (
      'base': #67c23a,
    ),
    'danger': (
      'base': #F74F78,//颜色可以自定义的
    ),
    'warning': (
      'base': #CEB357,//颜色可以自定义的
    ),
    'info': (
      'base': #ADB0B8,//颜色可以自定义的
    ),
    'error': (
      'base': #f56c6c,
    ),
  ),
  $table: (
    'header-bg-color': #F3F2F6,
    'header-text-color': #484A7D,
    'border-color': rgba(140,127,168,0.16),
    'text-color': #484A7D,
  ),
  $menu: (
    'item-height': 55px,
    'sub-item-height': 40px,
  ),
  $dialog: (
    'border-radius': 8px,
  ),
  $text-color: (
    'regular': #333,
  )
);
//此处是动态计算px的，与自定义主题色无关的
//@use "sass:math";
//$defaultWidth:1920;
//$defaultHeight:1080;
//@function vw($px) {
//  @return math.div($px,$defaultWidth)* 100vw
//};
//
//@function vh($px) {
//  @return math.div($px,$defaultHeight)* 100vh
//};
//
//@function font($px){
//  @return math.div($px,$defaultWidth)* 100vw
//}