@font-face {
  font-family: "iconfont"; /* Project id 4593716 */
  src: url('iconfont.woff2?t=1720413209725') format('woff2'),
       url('iconfont.woff?t=1720413209725') format('woff'),
       url('iconfont.ttf?t=1720413209725') format('truetype'),
       url('iconfont.svg?t=1720413209725#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-yiyuan1:before {
  content: "\e668";
}

.icon-icon-xiansuochi1:before {
  content: "\e669";
}

.icon-icon-wenzhang:before {
  content: "\e667";
}

.icon-icon-xiansuochi:before {
  content: "\e666";
}

.icon-icon-zhnaghao:before {
  content: "\e663";
}

.icon-icon-mima:before {
  content: "\e664";
}

.icon-icon-dingwei:before {
  content: "\e662";
}

.icon-icon-tishi1:before {
  content: "\e665";
}

.icon-icon-add-2:before {
  content: "\e661";
}

.icon-icon-chakan:before {
  content: "\e660";
}

.icon-img-zixun:before {
  content: "\e65e";
}

.icon-img-tuiguang:before {
  content: "\e65f";
}

.icon-a-icon-wenhao:before {
  content: "\e65d";
}

.icon-a-icon-clean:before {
  content: "\e65b";
}

.icon-icon-edit:before {
  content: "\e65c";
}

.icon-img-fujian:before {
  content: "\e65a";
}

.icon-icon-secret:before {
  content: "\e659";
}

.icon-tips-delete:before {
  content: "\e658";
}

.icon-icon-delete:before {
  content: "\e656";
}

.icon-a-icon-search:before {
  content: "\e657";
}

.icon-icon-rili:before {
  content: "\e655";
}

.icon-icon-gouxuan:before {
  content: "\e649";
}

.icon-icon-daohang-zhankai-2:before {
  content: "\e642";
}

.icon-icon-yiyuan:before {
  content: "\e644";
}

.icon-icon-user:before {
  content: "\e645";
}

.icon-icon-tab-you:before {
  content: "\e646";
}

.icon-riqi-biaoge:before {
  content: "\e647";
}

.icon-a-icon-women:before {
  content: "\e648";
}

.icon-icon-tab-zuo:before {
  content: "\e64a";
}

.icon-a-icon-WeChat:before {
  content: "\e64b";
}

.icon-a-icon-men:before {
  content: "\e64c";
}

.icon-a-icon-age:before {
  content: "\e64d";
}

.icon-a-biaoge-zhankai:before {
  content: "\e64e";
}

.icon-a-icon-phone:before {
  content: "\e64f";
}

.icon-a-icon-close:before {
  content: "\e650";
}

.icon-icon-daohang-shouqi:before {
  content: "\e651";
}

.icon-icon-daohang-zhankai:before {
  content: "\e652";
}

.icon-icon-daohang-shouqi-2:before {
  content: "\e653";
}

.icon-a-biaoge-shouqi:before {
  content: "\e654";
}

.icon-icon-shezhi:before {
  content: "\e643";
}

